@import '../../../assets/styles/variables.scss';

.app-priceSelection {
    &__header {
        font-size: 1.25rem;
        margin: 52px 0 16px 0;
        font-family: Barlow-Semibold;;
    }
    &__options {
        display: flex;
        justify-content: center;
        &__price-card {
            position: relative;
            background-color: #f2f2f2;
            transition: background-color $animation-length, color $animation-length;
            width: 130px;
            height: 100px;
            margin-right: 43px;
            cursor: pointer;
            border-radius: $border-radius;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                background-color: $orange;
                color: $background-color;
            }
            &__input {
                visibility: hidden;
                position: absolute;
                position: absolute;
                + label:before{
                    position: absolute;
                    top: 7px;
                    left: 8px;
                    height:10px;
                    width:10px;
                    border-radius: 5px;
                    content: " ";
                    display:inline-block;
                    vertical-align: baseline;
                    background-color: $background-color;
                }
                &:checked + label:before{
                    background: $blue;
                }
            }
            &__price {
                display: flex;
                align-items: flex-start;
                font-family: Barlow-Semibold;
                margin: 17px 0 2px 22px;
                font-size: 2.8125rem;
                line-height: 2.8125rem;
                &__currency {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
            &__description {
                font-size: 0.75rem;
                text-align: center;
            }
            &--selected {
                background-color: $orange;
                color: $background-color;
            }
        }
    }
}

@media (max-width: $mobile) {
    .app-priceSelection {
        &__header {
            margin-top: 37px;
        }
        &__options {
            justify-content: space-evenly;
        }
    }
}