<div class="app-header">
    <div class="content-container">
        <div class="app-header__logo-container">
            <img src="assets/images/logo.svg" class="app-header__logo-container__logo" />
        </div>
        <div class="app-header__menu-container">
            <app-menu></app-menu>
            <button
                (click)="openFileUpload()"
                type="button"
                class="button app-header__menu-container__upload-button"
            >
                Upload
            </button>
        </div>
    </div>
</div>