@import '../../../assets/styles/variables.scss';

.app-menu {
    &__links {
        list-style: none;
        padding: 0;
        margin: 0;
        &__li {
            &__link {
                color: $text-color;
                transition: color $animation-length;
                text-decoration: none;
                padding: none;
                &:hover {
                    color: $light-grey;
                }
            }
        }
    }
}