$font-size: 1rem;
$mobile: 768px;
$max-width: 1200px;
$border-radius: 4px;

$text-color: #000000;
$background-color: #ffffff;
$background-yellow: #FFB300;
$blue: #1A237E;
$orange: #F4511E;
$animation-length: .25s;

$grey: #EEEEEE;
$light-grey: #FAFAFA;